<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="suzumiya.mapper.CommentMapper">
    <!-- List<String> getFirst3CommentsByTargetId(@Param("targetId") Long targetId) -->
    <select id="getFirst3CommentsByTargetId" resultType="java.lang.String">
        SELECT content
        FROM tb_comment WHERE target_id = #{targetId} AND target_type = 2 AND is_delete = 0
        LIMIT 0, 3
    </select>
</mapper>